/* Flexible Box */

html, body {
  height: 100%;
  margin:0;
  padding:0;
}

body {

  flex-wrap: wrap;

}

section, nav {
  width: 960px;
  margin: 0 auto;
  display: flex;
  /*display: -webkit-flex;*/
}

.header {
  color:#0000ff;
  height: 5em;
}

.header .column:first-of-type {
  flex: 2 2 100px;
}

nav .column:nth-of-type(5) {
  flex: 2 2 0;
}

.footer {
  color:#0000ff;
  height: 5em;
}

.footer .column:first-of-type {
  flex: 1.5 1.5 0;
}

.footer .column:nth-of-type(2) {
  flex: 4 4 22px;
}

.footer .column:nth-of-type(3) {
  flex: 1 1 0;
}

.column {
  margin: 5px;
  flex: 1 1 0px;
  border: 1px solid black;
  /*-webkit-flex: 1;*/
  /*border: 1px solid transparentize(white, 0.25);*/
  /*background-color: transparentize(white, 0.8);*/
  /*color: transparentize(white, 0.1);*/
  /*background-color: rgba(150, 0, 0, 0.25);*/
}
/* flex: <flex-grow> <flex-shrink> <flex-basis>; */

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
