<section>
   <my-slider></my-slider>
</section>
<section class="cat">
    <div class="column">
        <p>WOMAN</p>
        <img src="{{womanPic}}" alt="">
        <p>TOTAL</p>
        <p>375 PRODUCTS</p>
    </div>
    <div class="column">
        <p>MAN</p>
        <img src="{{manPic}}" alt="">
        <p>TOTAL</p>
        <p>416 PRODUCTS</p>
    </div>
    <div class="column">
        <p>KIDS</p>
        <img src="{{kidPic}}" alt="">
        <p>TOTAL</p>
        <p>15 PRODUCTS</p>
    </div>
</section>
<section>
    <label>Special Products</label>
    <a routerLink="/list" routerLinkActive="active">view all products</a>
</section>
<div class="p-1">
<ul class="products">
    <li *ngFor="let product of products|slice:0:4" (click)="gotoDetail(product)">
        <img src="{{manNike}}" alt="">
        <p>{{product.name}}</p>
        <button><span>109.90$</span>GET NOW ></button>
    </li>
</ul>
<ul class="products">
    <li *ngFor="let product of products|slice:4:8" (click)="gotoDetail(product)">
        <img src="{{manNike}}" alt="">
        <p>{{product.name}}</p>
        <button><span>109.90$</span>GET NOW ></button>
    </li>
</ul>
</div>